* {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
}

.header {
  text-align: center;
  display: flex;
  height: 100px;
  width: 100%;
  line-height: 90px;
}

.title {
  width: 25%;
}

.title_name {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.title_nav {
  display: flex;
  font-size: 20px;
  width: 60%;
  line-height: 150px;
}

.title_login {
  font-size: 15px;
  width: 10%;
}

.logo {
  width: 15%;
  margin-right: 20%;
}

.logo_text {
  display: block;
  line-height: 100%;
  margin-left: 30%;
  color: #AD9AEE;
  text-align: left;
}

.nav:focus {
  color: #AD9AEE;
}

hr {
  border: 1px solid #dcdcdc;
}