* {
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.comment {
    padding-top: 3%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.commentWrite {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

.commentA {
    width: 80%;
    height: 30px;
}

.commentBtn {
    width: 10%;
    font-size: 15px;
}